@inject HttpClient httpClient
@page "/lines"

<div class="d-flex justify-space-between">
    <MudText Typo="Typo.h5">@Strings.Lines</MudText>
    <MudButton Href="/lines/add" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add">@Strings.Add</MudButton>
</div>
<MudDivider Class="my-3"/>
<MudTable Items="@_lines" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>@Strings.Number</MudTh>
        <MudTh>@Strings.Name</MudTh>
        <MudTh>@Strings.Price</MudTh>
        <MudTh>@Strings.Duration</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Number</MudTd>
        <MudTd>@context.Name</MudTd>
        <MudTd>@context.Price</MudTd>
        <MudTd>@context.Duration</MudTd>
    </RowTemplate>
</MudTable>

@code {
    private bool _loading;
    private IEnumerable<LineDto> _lines = new List<LineDto>();

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        _lines = await httpClient.GetFromJsonAsync<List<LineDto>>("http://localhost:5001/api/lines/getall");
        _loading = false;

    }
}